.tableList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  z-index: 30;
}

.tableItem {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding: 39px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid none;
  transition: all 0.55s;
  border: 1px solid transparent;
}

.tableItem:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}




.span {
  font-size: 44px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .tableItem {
    padding: 30px;
    font-size: 16px;
  }
  .span {
    font-size: 32px;
  }
}

@media screen and (max-width: 550px) {
  .tableItem {
    padding: 20px;
    font-size: 14px;
  }
  .span {
    font-size: 28px;
  }
}
